#about-page .general-header {
    background-image: url("/assets/images/bg/palm-trees-sunset-puddle.jpg");
}

#about-section {
    padding: 48px 0 80px;
}

#about-section div.inner {
    gap: 80px;
}

.about-panel {
    display   : flex;
    gap       : 30px;
    text-align: left;
}

.about-panel:last-child {
    flex-direction: row-reverse;
}

.about-panel>* {
    width: 100%;
}

.about-panel h1 {
    font-size     : 25px;
    font-weight   : 700;
    line-height   : 30px;
    margin        : 0 0 32px;
    padding-bottom: 24px;
    border-bottom : solid 1px #ebebeb;
}

.about-panel p {
    color        : #555;
    margin-bottom: 14px;
}

.about-panel em {
    color: rgb(128, 128, 128);
}

.about-panel p,
.about-panel em {
    font-size  : 14px;
    line-height: 22px;
    font-weight: 500;
}

.about-panel ul {
    padding-left: 12px;
    line-height : 32px;
}

.about-panel ul li {
    padding-left: 12px;
    font-weight : 500;
    font-size   : 13px;
}

.about-panel ul li::marker {
    font-family            : 'Font Awesome 5 Free';
    font-weight            : 600;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    content                : "\f00c";
    font-size              : 14px;
    color                  : var(--primary);
}