#confirmation-page .general-header {
    background-image: url("/assets/images/bg/side-view-happy-friends-campervan.jpg");
}

#confirmation-section {
    padding: 48px 0 0;
}

#confirmation-section div.inner>h2 {
    margin   : 0 0 60px;
    font-size: 26px;
}

#confirmation-section .reservation-flow-container>div.right {
    width: 100%;
}

#confirmation-section .reservation-flow-container>div.right .order-header {
    width          : 100%;
    background     : var(--primary);
    padding        : 24px;
    color          : var(--white);
    font-weight    : 600;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    font-size      : 18px;
}

#confirmation-section .reservation-flow-container>div.right>h6 {
    font-size: 16px;
}

#order-summary {
    padding       : 32px;
    border        : solid 2px var(--primary);
    display       : flex;
    flex-direction: column;
    gap           : 32px;
}

#order-summary .order-summary-item {
    display: flex;
}

#order-summary .order-summary-item>div {
    flex: 1
}

#order-summary .order-summary-item>div h6 {
    font-size  : 13px;
    font-weight: 700;
    margin     : 0 0 8px;
}

#order-summary .order-summary-item>div p {
    margin   : 0;
    font-size: 13px;
}

#key-submit-section {
    padding: 50px 0;
}

#key-submit-section h2 span {
    text-transform: none;
}

#confirmation-key-form {
    width        : 500px;
    max-width    : 100%;
    margin       : 54px auto;
    border       : solid 2px var(--black);
    border-radius: 6px;
    padding      : 12px;
}

#confirmation-key-form button[type="submit"] {
    background-color: #273f44;
    color           : var(--white);
    border          : solid 2px #273f44;
    font-weight     : 600;
    cursor          : pointer;
    transition      : all ease 0.3s;
    border-radius   : 4px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 48px;
    width           : 100%;
}

#confirmation-key-form button[type="submit"]:hover {
    background-color: var(--primary);
    border-color    : var(--primary);
}

@media screen and (max-width: 768px) {

    #order-summary {
        padding: 12px;
    }

}