@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red            : #F65442;
    --black          : #232628;
    --blue           : #6c98e1;
    --white          : #f5f5f5;
    --grey-light     : #888888;
    --grey-dark      : #676767;
    --max-width      : 1140px;
    --nav-height     : 135px;
    --primary-font   : 'Montserrat', sans-serif;
    --general-padding: 1rem;
}

*,
*:before,
*:after {
    box-sizing : border-box;
    font-family: var(--primary-font);
}

html {
    scroll-behavior: smooth;
}

body {
    margin                 : 0;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

a {
    color          : var(--red);
    text-decoration: none;
    transition     : color 0.3s;
}

a:not(header a):hover {
    color: var(--white);
}

a:not(header a):focus {
    color: var(--blue);
}

div.inner {
    max-width     : var(--max-width);
    display       : flex;
    flex-direction: column;
    margin        : 0 auto;
    padding       : var(--general-padding);
    text-align    : center;
}

body>.overlay {
    width           : 100%;
    height          : 100%;
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 99;
    opacity         : 0;
    transition      : opacity 0.3s;
    pointer-events  : none;
    background-color: #00000080;
}

body.viewing-custom-select-options .overlay {
    opacity       : 1;
    pointer-events: all;
}

#intro-section div.inner {
    padding  : 36px 40px 90px;
    max-width: unset;
}

.checkbox-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : max-content;
    margin-bottom  : 12px;
    gap            : 8px;
}

.custom-checkbox {
    position        : relative;
    width           : 16px;
    height          : 16px;
    display         : inline-block;
    cursor          : pointer;
    background-color: var(--white);
    border-radius   : 3px;
}

.custom-checkbox-label {
    font-weight: 500;
    font-size  : 14px;
}

.hidden-checkbox:checked+.custom-checkbox {
    background-color: #000;
}

.hidden-checkbox:checked+.custom-checkbox::after {
    content  : "\2713";
    color    : yellow;
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.custom-select {
    width        : 100%;
    height       : 40px;
    border       : none;
    border-radius: 2px;
    background   : var(--white);
    color        : var(--black);
    font-weight  : 600;
    padding      : 8px;
    position     : relative;
    display      : flex;
    align-items  : center;
    cursor       : pointer;
    margin-bottom: 12px;
}

.custom-select svg {
    fill: var(--black) !important;
}

.custom-select>span {
    margin   : 0 auto 0 8px;
    font-size: 14px;
}

.custom-select-options {
    position      : absolute;
    top           : 40px;
    left          : 0;
    z-index       : 100;
    background    : var(--white);
    opacity       : 0;
    pointer-events: none;
    width         : 100%;
    display       : flex;
    flex-direction: column;
    font-weight   : 500;
    transition    : opacity 0.3s;
}

body.viewing-custom-select-options .custom-select.active .custom-select-options {
    opacity       : 1;
    pointer-events: all;
}

.custom-select-options span {
    padding   : 8px;
    cursor    : pointer;
    transition: background 0.3s;
    font-size : 14px;
    background: #d2d2d2;
}

.custom-select-options span.selected {
    background : #ccc;
    font-weight: 800;
}

.custom-select-options span:hover {
    background: var(--white);
}

header {
    height    : var(--nav-height);
    background: var(--white);
}

header div.inner {
    flex-direction: row;
    height        : 100%;
}

header div.inner>a,
header div.inner img {
    height: 100%;
}

header div.inner nav {
    display    : flex;
    align-items: center;
    margin-left: auto;
    gap        : 48px;
    font-weight: 700;
}

#hamburger-button {
    display        : none;
    position       : absolute;
    right          : 45px;
    cursor         : pointer;
    color          : var(--white);
    background     : #222628;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    transition     : opacity 0.3s ease-out;
    pointer-events : none;
    top            : 35px;
    z-index        : 100;
    border-radius  : 2px;
    padding        : 10px;
}

#hamburger-icon {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-between;
    gap            : 7px;
}

.hamburger-line {
    background   : #ffffff80;
    border-radius: 2px;
    width        : 28px;
    height       : 4px;
}

#intro-section {
    background     : url("/assets/images/bg/car-in-mango-grove.jpg") center no-repeat;
    background-size: cover;
}

#intro-section form {
    width     : 350px;
    background: var(--red);
    padding   : 30px;
    text-align: left;
}

#intro-section h2 {
    margin-bottom : 7px;
    font-size     : 16px;
    font-weight   : 700;
    text-transform: uppercase;
    letter-spacing: -0.5px;

}

#intro-section input {
    width         : 100%;
    height        : 40px;
    border        : none;
    border-radius : 2px;
    background    : var(--white);
    color         : var(--black);
    font-weight   : 600;
    text-transform: uppercase;
    padding       : 8px;
}

#intro-section form button {
    display       : flex;
    width         : unset;
    gap           : 8px;
    border        : none;
    border-radius : 4px;
    background    : var(--black);
    color         : var(--white);
    font-weight   : 800;
    text-transform: uppercase;
    font-size     : 12px;
    padding       : 16px 24px;
    cursor        : pointer;
    margin-top    : 36px;
}

#intro-section form svg {
    width: 12px;
    fill : var(--white);
}

#feature-section {
    background: var(--white);
}

#feature-section h1 {
    font-size     : 30px;
    margin        : 50px auto;
    line-height   : 50px;
    letter-spacing: 1px;
}

#intro-section h2:nth-of-type(2) {
    margin-top: 18px;
}

#features {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.feature-container {
    display: flex;
    width  : 30%;
    gap    : 16px;
}

.feature-container:nth-child(n+4) {
    margin-top: 32px;
}

.feature-icon {
    min-width    : 54px;
    height       : 54px;
    padding      : 12px;
    background   : var(--red);
    border-radius: 50%;
}

.feature-icon svg {
    width : 100%;
    height: 100%;
}

.feature-info {
    text-align: left;
}

.feature-info h2 {
    text-transform: none;
    margin        : 0;
    font-weight   : 400;
    font-size     : 18px;
}

.feature-info p {
    line-height: 20px;
    color      : var(--grey-light);
    font-weight: 600;
    font-size  : 13px;
}

#landing-cars-section {
    background           : url("/assets/images/bg/st-johns.jpg") center no-repeat;
    background-position  : center;
    background-size      : cover;
    background-attachment: fixed;
}

#landing-cars-section div.inner {
    padding-top   : 80px;
    padding-bottom: 50px;
}

#cars {
    display        : flex;
    flex-wrap      : wrap;
    gap            : 30px;
    justify-content: space-between;
}

.car-container {
    background-color: #fff;
    width           : calc(33.33% - 24px);
    padding         : 40px 15px 15px;
    position        : relative;
    overflow        : hidden;
    text-align      : left;
    max-height      : 390px;
    cursor          : pointer;
    height          : 100%;
}

.car-container .overlay {
    position       : absolute;
    top            : 0;
    left           : 0;
    height         : 100%;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.car-container .overlay div {
    transition: all ease-in-out 0.5s;
    background: var(--red);
    height    : 300px;
    width     : calc(var(--max-width)/4);
    opacity   : 0;
}

.car-container:hover .overlay div {
    opacity: 1;
    height : 450px;
    width  : calc(var(--max-width)/3);
}

.car-container:nth-child(2n) {
    margin: auto
}

.car-container .top,
.car-container .bottom {
    position: relative;
}

.car-container .top {
    display: flex;
    padding: 0 20px 12px;
}

.car-container .top .left {
    width: 100%;
}

.car-container .top .left h1 {
    margin        : 0;
    font-size     : 22px;
    text-transform: capitalize;
}

.car-container .top .left h2 {
    margin   : 0;
    font-size: 14px;
}

.car-container .top .left>div {
    display       : flex;
    flex-direction: column;
    background    : var(--red);
    margin        : 16px 24px 0 0;
    color         : var(--white);
    font-weight   : 800;
    font-size     : 12px;
    padding       : 8px 12px;
    transition    : background-color ease 0.5s;
}

.car-container:hover .top .left>div {
    background-color: var(--black);
}

.car-container .top .left>div span:nth-child(2) {
    font-size: 24px;
}

.car-container .top .left>div span:last-child {
    font-size: 15px;
}

.car-container .top .right {
    display       : flex;
    flex-direction: column;
    color         : var(--grey-dark);
    font-size     : 13px;
    gap           : 8px;
    min-width     : max-content;
}

.car-container .top .right div {
    display    : flex;
    align-items: center;
    gap        : 8px;
}

.car-container svg {
    width     : 20px;
    height    : 20px;
    fill      : var(--red);
    transition: fill 0.3s;
}

.car-container:hover svg {
    fill: var(--black);
}

.car-container .top .right div span {
    font-weight: 500;
}

.car-container img {
    width : 100%;
    height: auto;
}

#cars+div {
    margin     : 50px auto 0;
    width      : max-content;
    font-size  : 16px;
    padding    : 18px 25px;
    background : var(--red);
    color      : var(--white);
    cursor     : pointer;
    font-weight: 500;
}

footer {
    background-color: var(--black);
    color           : var(--white);
}

footer div {
    display       : flex;
    flex-direction: column;
}

footer div.inner>div:first-child {
    margin: 60px 0;
}

footer h6 {
    font-size: 14px;
    margin   : 0;
    width    : max-content;
}

footer ul {
    list-style-type: none;
    text-align     : left;
    padding        : 0;
    font-size      : 14px;
    font-weight    : 500;
    line-height    : 1.5;
    letter-spacing : 0.67px;
}

div#copyright {
    font-size  : 13px;
    color      : var(--grey-light);
    padding-top: 20px;
    border-top : solid 1px var(--grey-dark);
}